*{
  border: solid 1px transparent;
} 
.swal-overlay {
    background-color: rgba(165, 43, 110, 0.45);
  }

.swal-button {
    background-color: #1C4EE2;
}

.swal-button:active {
    background-color: rgb(52, 79, 161);
}

.swal-button--danger{
    background-color: #e64942;
}


/* Profile */
.container {
    text-align: center;
    position: absolute;
    margin: 10px;
  }

  /* Back */
  .back{
    height: 500px;
  }

  .share{
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  

    font-size: 1.5rem;
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;


  }


.btn-expand {
    position: relative;
    overflow: hidden;
    text-decoration: none;
    display: inline-block;
    height: 50px;
    width: 50px;
    background: #5755d9;
    border-radius: 50%;
    border: solid #5755d9;
    box-shadow: 0 3px 14px -1px rgba(0, 0, 0, 0.25);
    transition: width 0.3s cubic-bezier(0.51, 0.92, 0.24, 1.15), border-radius 0.3s ease, background 0.3s ease, box-shadow 0.3s ease;

  }

  .btn-expand img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 3em;
    line-height: 50px;
    color: white;
    -webkit-transition: opacity 0.3s ease, left 0.3s cubic-bezier(0.51, 0.92, 0.24, 1.15);
    transition: opacity 0.3s ease, left 0.3s cubic-bezier(0.51, 0.92, 0.24, 1.15);
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }
  
  .btn-expand span {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    font-size: 20px;
    font-weight: 500;
    color: white;
    display: inline-block;
    line-height: 50px;
    opacity: 0;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
  }

  .btn-expand:hover {
    width: 250px;
    border-radius: 5px;
    background: #5755d9;
    -webkit-transition-delay: 0.3s, 0.2s, 0s;
            transition-delay: 0.3s, 0.2s, 0s;
    box-shadow: 0 8px 20px -2px rgba(0, 0, 0, 0.4);
  }

  .btn-expand:hover img {
    left: 0;
    right: 0;
    width: 50px;
    border-radius: 50%;
 
  }
  
  .btn-expand:hover span {
    opacity: 1;
    -webkit-transition-delay: 0.6s;
            transition-delay: 0.6s;
  }

  .uk-background-fixed {
    position: relative;
  }


/* Links */

  .link {
    margin: 10px;
  }

  .twitter {
    color: #1DA1F2;
  }

  .instagram {
    color: #E1306C;
  }

  .github {
    color: #222;
  }

  .linkedin {
    color:#0072b1;
  }

  .mail {
    color: #9c9df0;
  }
  
  .twitter:hover{
    background: #1DA1F2 ;
    box-shadow: 0 0 5px #1DA1F2 , 0 0 50px#1DA1F2 , 0 0 50px #1DA1F2 , 0 0 200px #1DA1F2 ;
    color:white;
    border-radius: 10%;
  }

  .instagram:hover{
    background: #E1306C ;
    box-shadow: 0 0 5px #E1306C , 0 0 50px#E1306C , 0 0 50px #E1306C , 0 0 200px #E1306C ;
    color:white;
    border-radius: 10%;
  }

  .github:hover{
    background: #222;
    box-shadow: 0 0 5px #222 , 0 0 50px #222 , 0 0 50px #222 , 0 0 200px #222;
    color:white;
    border-radius: 10%;
  }

  .linkedin:hover{
    background: #0072b1 ;
    box-shadow: 0 0 5px #0072b1 , 0 0 50px #0072b1 , 0 0 50px #0072b1 , 0 0 200px #0072b1 ;
    color:white;
    border-radius: 10%;
  }

  .mail:hover{
    background: #4652c5 ;
    box-shadow: 0 0 5px #3542be , 0 0 50px #3542be , 0 0 50px #3542be , 0 0 200px #3542be;
    color:white;
    border-radius: 10%;
  }

  .company{
    position: absolute;
    top: 15%;
    left: 0%;
    width: 100%;
    height: 50%;
    background-color: transparent;
  }

  .company a {
    color: white;
  }

  .fa-bars:hover{

    color:#3542be;
    cursor: pointer;

  }

  /* Automatic-text */
  .line {
    border-right: 2px solid rgba(62, 33, 226, 0.9);
    white-space: nowrap;
    overflow: hidden;
    transform: translatey(-20%);
    
  }
  /*Animacion*/
  .anim-typewriter{
    animation: typewriter 3s steps(40) 1s 1 normal both,
      blinkTextCursor 500ms steps(40) infinite normal both;
  }
  @keyframes typewriter {
    from{
      width: 0;
    }
    to{
      width: 7em;
    }
  }
  @keyframes blinkTextCursor{
    from{
      border-right-color: rgba(62, 33, 226, 0.9);
    }
    to{
      border-right-color: transparent;
    }
  }


  /* button  #start*/
.start{
	display: inline-block;
	letter-spacing: .5rem;
	margin: 1rem 2rem;
	padding: .2rem .4rem;
	position: relative;
	overflow: hidden;
	text-decoration: none;
  text-transform: uppercase;
	transition: 0.5s;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  
}

.start:nth-child(1){
	filter: hue-rotate(290deg);
}



.start:hover{
	background: #3542be;
	box-shadow: 0 0 5px #3542be, 0 0 25px#3542be, 0 0 50px #3542be, 0 0 200px #3542be;
	color: aliceblue;
}

/* button start */


/* .desc {
  text-transform: capitalize;
  text-align: justify;
  letter-spacing: normal;
  overflow: hidden;
  background: linear-gradient(90deg, #3542be, #a9aee4, #ffffff);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 5s linear none;
  margin: 15%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

.desc:hover{
  text-transform: capitalize;
  cursor: default;
  overflow: hidden;
  background: linear-gradient(90deg, #FFFFFF, #ffffff, #FFFFFF);
  background-repeat: no-repeat;
  background-size: 100%;
  animation: none;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}  */

/* button  #def-v*/
.def-v{
	color: #3542be;
	display: inline-block;
	font-size: .7rem;
	letter-spacing: 3px;
	margin: .1rem .2rem;
	padding: 2px 4px;
	position: relative;
	overflow: hidden;
	text-decoration: none;
	/* text-transform: uppercase; */
	transition: 0.5s;
   -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
   /* left: 12rem; */
   
  
}

.def-v:nth-child(1){
	filter: hue-rotate(290deg);
}



.def-v:hover{
	background: #3542be;
	box-shadow: 0 0 5px #3542be, 0 0 25px#3542be, 0 0 50px #3542be, 0 0 200px #3542be;
	color: aliceblue;
}

/* end */

.btn-w {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: #3542be;
	border: .05rem solid #5755d9;
	border-radius: .1rem;
	color:aliceblue;
	cursor: pointer;
	display: inline-block;
	font-size: 1rem;
	height: 2rem;
	line-height: 1.2rem;
	outline: 0;
	padding: .25rem .4rem;
	text-align: center;
	text-decoration: none;
	transition: background .2s, border .2s, box-shadow .2s, color .2s;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	vertical-align: middle;
	white-space: nowrap
}

/* button  #def*/
.def{
	color: aliceblue;
	display: inline-block;
	font-size: 1rem;
	letter-spacing: 4px;
	margin: .1rem .2rem;
	padding: .25rem .4rem;
	position: relative;
	text-decoration: none;
	/* text-transform: uppercase; */
	transition: 0.5s;
   -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
   /* left: 12rem; */
   
  
}


.def:hover{
	background: aliceblue;
	box-shadow: 0 0 5px aliceblue, 0 0 25pxaliceblue, 0 0 50px aliceblue, 0 0 200px aliceblue;
	color: #5755d9;
}

/* end */

.flip-card {
  background-color: transparent;
  width: 200px;
  height: 200px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  -webkit-box-shadow: 0 10px 6px -6px #3543be;
	-moz-box-shadow: 0 10px 6px -6px #3543be;
	box-shadow: 0 10px 6px -6px #3543be;
}

.flip-card:hover .flip-card-inner {
  transform: rotateX(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}


.flip-card-back {
  background-color: #3543be;
  color: #FFFFFF;
  transform: rotateX(180deg);
}

.i-right:hover {
  transform: scale(2) !important;
  -webkit-transform: scale(2) !important;
  -moz-transform: scale(2) !important;
  -o-transform: scale(2) !important;
  font-size: 40px;
  margin-right: 20px;
  cursor: pointer;
} 

.i-left:hover {
  transform: scale(2) !important;
  -webkit-transform: scale(2) !important;
  -moz-transform: scale(2) !important;
  -o-transform: scale(2) !important;
  font-size: 40px;
  margin-left: 20px;
  cursor: pointer;
} 

@supports(object-fit: cover){
  .projects {
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}

.fa-heartbeat {
  color: #3542be;  /* Rojo opaco 80%  rgb(255, 0, 0, .8)*/ 
  text-shadow:0 0 5px #FFF, 0 0 20px #A33;
  margin: 10px;  
  animation: beat 1s ease-in infinite;
}

@keyframes beat {
  0% { transform: scale(1.5) }     /* Mismo tamaño */
  75% { transform: scale(2) }  /* Aumenta */
  100% { transform: scale(1.5) }   /* Tamaño inicial */
}